@import "config"

.wrapper
    min-height: 100vh
    display: flex
    .aside
        width: 300px
        padding: $extra-large-padding
        background-color: $secondary-color
        .asideMenu
            
    .main
        flex-grow: 1    
        .header
            color: $secondary-color
            text-align: center