@import "config"

.pageErrorContainer
    height: 100vh
    width: 100%
    display: flex
    align-items: flex-start
    justify-content: center
    background: no-repeat center/cover url("../../static/cinema.jpg")
    .content
        .errorCode
            color: $accent-color
            margin-top: 40%
            font-size: 150px
        .errorMessage
            position: absolute
            bottom: 0
            right: $default-margin
            color: $primary-color
            font-size: $default-font-size
            text-align: right
        .errorUIMainMessage
            color: $primary-color
            margin-top: 40%
            font-size: $extra-large-font-size
            text-align: center
        .errorUIMessage
            position: absolute
            left: $default-margin
            color: $accent-color
            font-size: $default-font-size
            text-align: left
            bottom: 0
            .accentText
                color: $accent-color
                text-transform: none
