@import "config"

.form
    display: flex
    flex-direction: column
    .select
        max-width: 200px
    .input
        margin-bottom: $small-margin
.errorMsg
    color: red
    text-align: center
    padding-bottom: $large-padding !important
    .errorIcon
        margin-right: $default-margin

.hallScheme
    margin: 0 auto
    .hallSchemeHeader
        margin-bottom: $default-margin
    .row
        padding: 0 $large-padding
        position: relative
        display: flex
        .rowNumber
            position: absolute
            left: 0
            top: 0
            font-size: $default-font-size
            line-height: 1.4
.seatInput
    box-sizing: border-box
    appearance: none
    background: white
    outline: 2px solid $secondary-color
    border: 3px solid $primary-color
    width: 16px
    height: 16px

.seatInput.taken
    background: red
    outline-color: red

.seatInput:checked 
    background: $accent-color
    outline-color: $accent-color

.watchTrailerModal
    .filmTrailer
        width: 100%
        height: 100%
        border: 1px solid $accent-color

.noTicketsWarningText
    color: $accent-color

.ticketIcon
    color: $accent-color
.deleteTicketIcon
    color: red

.costOfTicketsHeader
    font-size: $large-font-size !important

.userTicket
    .ticketDataContainer
        display: flex
        flex-wrap: wrap
        .ticketDataItem
            padding-right: $default-padding

