@media all and ( max-width: 1250px )
    .slide-wrapper
        .slide
            .slide-content
                margin-left: $extra-large-margin
            .slide-ratings
                margin-right: $extra-large-margin

@media all and ( max-width: 900px )
    .slide-wrapper
        .slide
            flex-direction: column
            justify-content: flex-end
            align-items: flex-start
            .slide-content
                align-self: stretch
                order: 1
            .slide-ratings
                display: none
                align-self: end
                
@media all and ( max-width: 500px )
    .film-name
        margin: $large-margin 0
    .buttons
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: center
        .slide-btn
            &:first-of-type
                margin-bottom: $default-margin